/* ——————————— GOOGLE FONTS 

	font-family: 'Amatic SC', cursive;
	font-family: 'Roboto Slab', serif; 300,600,900 weights


——————————————— */

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 4rem;
	color: white;
}

@media (min-width: 900px) {
	h1 {
		font-size: 5rem;
	}
}

.type__button {
	font-family: 'Amatic SC', cursive;
	font-size: 1.8rem;
	color: white;
}

.type__input-label {
	font-family: 'Roboto Slab', Courier, serif;
	font-weight: 600;
	color: #1e3e3f;
	font-size: 1.2rem;
}

.type__draw-button {
	font-family: 'Amatic SC', cursive;
	font-size: 2.6rem;
	color: white;
}


.type__card-title {
	font-size: 3.6rem;
	font-family: 'Amatic SC', cursive;
	color: #1e3e3f;
}

.type__pattern-author {
	margin-top: -3.2rem;
}

.type__card-description {}

.type__questions-header {
	font-family: 'Roboto Slab', Courier, serif;
	font-weight: 600;
}

.type__question {}


/*@media (min-width: 900px) {
	h1 {
		font-size: 3rem;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 3rem;
	}
}*/

p {
	margin: 5px;
	font-family: 'Roboto Slab', Courier, serif;
	max-width: 500px;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	color: #1e3e3f;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}


